@{
    ViewData["Title"] = "Cadastrar Empresa";
}

<div class="text-center">
    <h1 class="">Alterar empresa</h1>
    <br />
</div>
<form>
    <div class="form-group">
        <label for="nm_company">Nome da empresa</label>
        <input type="text" class="form-control" placeholder="Digite o nome da empresa.">
    </div>
    <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="text" class="form-control" placeholder=" XX.XXX.XXX/0001-XX">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Digite o email">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" asp-controller="Company" asp-action="Index" role="button">Voltar</a>
</form>