@{
    ViewData["Title"] = "VOM-HIVE";
}

<div class="text-center">
    <h1 class="display-4">VOM-HIVE</h1>
    <p>Gabriel Siqueira Rodrigues RM:98626</p>
    <p>Gustavo de Oliveira Azevedo RM:550548</p>
    <p>Isabella Jorge Ferreira RM:552329</p>
    <p>Mateus Mantovani Araújo RM:98524</p>
    <p>Juan de Godoy RM:551408</p>
</div>
